p{ 
    font-style:normal; font-family:Cambria;
}
/*las clases y id son case sensitive
            la palabra reservada Class (.)
            la palabra reservada id (#)  
            Un ID se utiliza para seleccionar un solo elemento, mientras que una clase se utiliza para seleccionar más de un elemento. Es como si aplicaras un "IN LINE" pero en CSS
*/

#Gaby{
    color: blueviolet;
}
#Pau{
    color: aqua;
}
.CH35{
    color: white;
}
#Manzana{
    color: gold; font-style: italic;
}
.Recetas{
    color: whitesmoke; 
    font-style: oblique;
}

.Generation{
    width: 200;
    height: 200;
    margin: 20px 50px;
    padding: 50px;
    border: solid blue;

}
div{
    width: 200;
    height: 200;
    margin: 20px 50px;
    padding: 30px;
    border: solid seashell;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid rgb(0,162,255);
}
th{
    background-color: rgb(192,226,240);
}
