:root {
    /*
    Enfoque de diseño basado en sistemas para establecer reglas y patrones escalables y reutilizables.
    Se personalizan variables para acceder a cualquier valor de una propiedad mediante la pseudoclase ":root" con la sintaxis --nombre-variable
    */
    /* :root este es un seudoelemento, podemos acceder a cualquier parte de las propiedades de este elemento desde nuestros documentos CSS y HTML*/
    /* sintaxis de las variables dentro del seudoelemento:
    '--nombre-variable: valor */
    --font-primary:'Poppins', sans-serif;
    --color-primary:#A60311;
    --color-secondary: #D9042B;
    --color-text-primary: #D9CCB4;
    --color-text-secondary: #D98E04;
    --color-background: #590219;
    --color-light: #F2F2F2;
    --color-dark: #070C26;
}


body{
    background-color: var(--color-background);
    color: var(--color-light);
    font-family: var(--font-primary);
    /* Esta es la sintaxis para llamar a la variable ya establecida */
}
.position{
    width: 100px;
    height: 100px;
    background-color: var(--color-dark);
}
/* La posicion estatica es la posicion por default del htl, no se afecta por top, bottom, left, rigth */
#static{
    position: static;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    background-color: var(--color-text-secondary);
}
#relative{
    /* position relative, posiciona el elemento con respecto al viewport
    Es posicionado de forma relativa al viewport y si permite movimiento mediante propiedades top, bottom, left, right */
    position: relative;
    top: 10000px;
    left: 200px;
    background-color: var(--color-primary);
}
#absolute{
    /* Se posiciona de forma relativa a su acentro mas cercano y no con respecto al viewport */
    width: 100px;
    height: 100px;
    left: 400px;
    position: absolute;
    background-color: var(--color-light);
    color: var(--color-dark);
}
/* Nos permite mantener el elemento de manera fija en el viewport */
/* #fixed{
    left: 500px;
    top: 500px;
    position: fixed;
    background-color: cadetblue;
} */
#ancestro{
    width: 100px;
    height: 100px;
    background-color: var(--color-dark);
    border: solid var(--color-light) 1px;
}
#chat{
    border: solid var(--color-light) 1px;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 20px;
    left: 20px;
}
#whatsapp-icon{
    width: 100%;
}

.display-inline{
    width: 100px;
    height: 100px;
    background-color: var(--color-text-primary);
    color: var(--color-dark);
    text-align: center;
    margin: 2px;
}
#display-1, #display-2{
    display: inline;
}
.display-block{
    /* display: block; */
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: var(--color-secondary);
    text-align: center;
    margin: 2px;
}
.display-none{
    display: none;
}

@media (max-width: 720px) {
    .display-none{
        display: none;
    }
}

/* Display flex mepermite trabajar de manera flexble con elementos anidados dentro de un ancestro. El flexbox se aplica en el container y tiene efecto sobre los hijos.
la propiedad de alineacion por defaul de flex es in linea (row). 
Vamos a poder acceder a diversas propiedades para modificar el comportamiento de los elementos. 
    > - flex-direction: colum, colum-reverse, row (default), row-reverse
    > - flex-wrap: wrap, nowrap, wrap reverse
    > - justify-content: center, flex-start, flex-end, space-between, space-around
    > - align-items: center, start, end
    > - align-self: flex-start, flex-end, 
    */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 350px;
    margin: 10px;   
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-text-secondary);
}

.display-flex{
    width: 100px;
    height: 80px;
    margin: 5px;
    padding: 2px;
    text-align: center;
    background-color: var(--color-background);
    border-radius: 6px;

        display: flex;
        justify-content: center;
        align-items: center;
    
}  

#item-6{
    /* align-self:flex-end */
}

a{
    text-decoration: none;
    color: var(--color-light);
}
/* grid layout
Elementos de una cuadricula grid: contenedor, items, celdas, area
display: grid
 */

.grid{
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: auto; */
    gap: 20px;
    padding: 10px;


}
.display-grid{
    background-color: var(--color-text-secondary);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    border: solid var(--color-text-primary) 1px;
}
.container-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    /* grid-template-areas sirve para llamar las areas definidas y se llaman a manera de tabla ya definida */
    grid-template-areas: 
        "head"
        "aside"
        "section"
        "article"
        "footer"
    ;

    width: auto;
    height: 500px;
    border: solid var(--color-text-primary) 0.7px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    
}

header{
    background-color: darkviolet;
    grid-area: head;
}
/* nav{
    background-color: darkslategray;
    grid-area: nav;
} */
aside{
    background-color: seagreen;
    grid-area: aside;
}
section{
    background-color: peru;
    grid-area: section;
}
article{
    background-color: tomato;
    grid-area: article;
}
footer{
    background-color: deepskyblue;
    grid-area: footer;
}