.cards{
    display: flex;
    justify-content: center;
    align-items: center;

}

.products--card{
    border: solid white 2px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 15px;
}